body {
    color: #4f5050;
    font-family: 'Courier New', monospace;
}

.main-block, .my-list {
    width: 215px;
    padding: 10px;
    background-color: #7fffd436;
    border-radius: 4px;
    border: 2px solid #bef1be5e;
    margin: 20px auto 0;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.list {
    list-style-type: none;
    text-align: right;
    margin: 0;
}

.action-block {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}
.sum {
    border-top: 1px solid #4f505073;
    text-align: right;
}

.input {
    border-radius: 3px;
    border: 1px solid #4f505073;
    outline: none;
    font-family: 'Courier New', monospace;
    padding-left: 5px;
}

.add-btn {
    background-color: #93ffc3;
    padding: 3px 15px;
    border-radius: 3px;
    border: 1px solid #39ff918c;
    cursor: pointer;
    color: #4f5050;
    font-size: 14px;
    outline: none;
}

.add-btn:hover {
    background-color: #71ffb0;
}

.list2 > li {
    text-decoration: none;
    cursor: pointer;
}