
body {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    color: #404040;
    background-image: url("fon1.jpg");
}
.header {
    background: #5e5e5e;
    padding: 15px;
    display: flex;
    position: fixed;
    width: 100%;
}

.header__link {
    color: #ffffffba;
    text-decoration: none;
    margin-right: 15px;
}

.header__link:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

.header__link--active {
    text-decoration: underline;
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 6em 20vw 2em;
}

.card {
    border: 2px dotted #404040;
    padding: 1em;
    margin-bottom: 2em;
}

.card__title {
    margin: 0;
    padding-bottom: 1em;
}

.card__imgWrapper {
    display: flex;
    align-items: center;
}

.card__description {
    padding: 1em 0;
}

.card__img {
    max-width: 100%;
}

.footer__text {
    background: gray;
    font-size: .5em;
    color: white;
    padding: 0.5em;
    text-align: right;
    margin: 0;
}



