body {
    background-color: #f2f2f37a;
    color: #525252;
}

.text {
    text-align: center;
    font-size: 30px;
}

.btn-block {
    text-align: center;
}

.success-btn, .fail-btn {
    padding: 10px 30px;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    width: 110px;
    margin: 0 10px;
    color: #3a3938;
    outline: none;
}

.success-btn {
    background-color: #26ef26;
    border: 1px solid #04e004;

}

.success-btn:hover {
    background-color: #04e004;
}

.fail-btn {
    background-color: #ff0303;
    border: 1px solid #da0000;
}

.fail-btn:hover {
    background-color: #da0000;
}

.answer {
    text-align: center;
    font-size: 22px;
}

.burger-btn {
    padding: 10px 13px;
    border-radius: 5px;
    color: #535454;
    background-color: #cacaca;
    border: 1px solid #b7b7b7;
    cursor: pointer;
    outline: none;
}

.burger-btn:hover {
    background-color: #c3c3c3;
}